* {
    margin: 0;
    padding: 0;
    background: #b191ee;
}
/* Chat */
.cat {
    background: #000;
    position: absolute;
    margin: auto;
    top: 62.6%;
    right: 20%;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 350px;
    border-radius: 25% 25% 0 0;
}
.ears {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
}
.Right {
    top: 0;
    right: 0;
    bottom: 170%;
    left: 27%;
}
.Left {
    z-index: 0;
    top: 0;
    right: 44%;
    bottom: 170%;
}
.headCat {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 125%;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: #000;
}
.nose {
    position: absolute;
    margin: auto;
    top: 0;
    left: 84%;
    right: 10%;
    bottom: 125%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
}
.tailCat {
    position: absolute;
    margin: auto;
    top: 74%;
    right: 37%;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 250px;
    background: #000;
    border-radius: 7%;
}
.top {
    position: absolute;
    margin: auto;
    top: 49%;
    right: 38.5%;
    bottom: 0;
    left: 0;
    width: 3%;
    height: 30px;
    background: #000;
    border-radius: 25%;
}
/* Tablette */ 
.tablette {
    position: absolute;
    margin: auto;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 750px;
    border: #000 solid 30px;
    border-radius: 5%;
    background-image: url(../img/ChaHAuTcarrer_pdp.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* en tete tablette */
.headerTablet {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 140px;
    color: #330881;
}
.batterie {
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 93%;
    right: 0;
    bottom: 90%;
    font-size: 16px;
}
.reseau {
    position: absolute;
    margin: auto;
    top: 12%;
    left: 78%;
    right: 0;
    bottom: 90%;
    font-size: 11px;
}
.bluetooth {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 3%;
    font-size: 13px;
}
.internet {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 85%;
    right: 0;
    bottom: 90%;
    font-size: 13px;
}
.time {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 5%;
    font-size: 25px;
}
.date {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 5%;
    font-size: 12px;
}
.meteo {
    position: absolute;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    top: 30%;
    left: 80%;
    right: 0;
    bottom: 0;
    font-size: 45px;
}
/* milieu tablette - application */
.bodyTablet {
    position: absolute;
    margin: auto;
    top: 75%;
    padding: 0;
    width: 100%;
    height: 60px;
    color: #330881;
    font-size: 35px;
}
.appel {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 10%;
    right: 0;
    bottom: 0;
}
.youtube {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 25%;
    right: 0;
    bottom: 0;
}
.discord {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 45%;
    right: 0;
    bottom: 0;
}
.tiktok {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 80%;
    right: 0;
    bottom: 0;
}
.sms {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 65%;
    right: 0;
    bottom: 0;
}
/* pied tablette */
.footerTablet {
    position: absolute;
    margin: auto;
    top: 92%;
    padding: 0;
    width: 100%;
    height: 60px;
    color: #330881;
    font-size: 18px;
}
.carrer {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 20%;
    right: 0;
    bottom: 0;
}
.circle {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
}
.return {
    position: absolute;
    margin: auto;
    top: 45%;
    left: 80%;
    right: 0;
    bottom: 0;
    font-size: 28px;
}
/* Appli Appel */
.bodyappel {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}
.iconCircle {
    position: absolute;
    margin: auto;
    top: 1%;
    left: 1%;
    width: 23px;
    height: 20px;
    color: #b191ee;
    background: #330881;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}
.num {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 1%;
    left: 8%;
    font-size: 16px;
    font-weight: 550;
}
.infoappelOne {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 5%;
    left: 8%;
    font-size: 13px;
    font-weight: 500;
}
.infoappelTwo {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 6%;
    left: 8%;
    font-size: 13px;
    font-weight: 500;
}
.infoappelTree {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 6%;
    left: 8%;
    font-size: 13px;
    font-weight: 500;
}
.infoappelFour {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 7%;
    left: 8%;
    font-size: 13px;
    font-weight: 500;
}
.infoappelFive {
    position: absolute;
    margin: auto;
    color: #330881;
    top: 7%;
    left: 8%;
    font-size: 13px;
    font-weight: 500;
}
.iconCall {
    position: absolute;
    margin: auto;
    top: 3%;
    left: 90%;
    color: #330881;
    font-size: 18px;
}
.appelOne {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.appelTwo {
    position: absolute;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.appelTree {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.appelFour {
    position: absolute;
    margin: auto;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.appelFive {
    position: absolute;
    margin: auto;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.bottomCall {
    position: absolute;
    margin: auto;
    top: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #330881;
    border: #330881 1px solid;
    font-size: 18px;
}

.fav {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 15%;
}
.p_fav {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 11%;
}
.history {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 50%;
}
.p_history {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 46%;
}
.contact {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 85%;
}
.p_contact {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 80%;
}
/* Appli youtube */
.bodyTabletYoutube {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Appli Tiktok */
.bodyTabletTitok {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Appli SMS */
.bodysms {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}
.iconsms {
    position: absolute;
    margin: auto;
    top: 3%;
    left: 85%;
    color: #330881;
    font-size: 1px;
}
.smsOne {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.smsTwo {
    position: absolute;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.smsTree {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.smsFour {
    position: absolute;
    margin: auto;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.smsFive {
    position: absolute;
    margin: auto;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    border: #330881 1px solid;
}
.bottomsms {
    position: absolute;
    margin: auto;
    top: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #330881;
    font-size: 18px;
}
.tchat {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 80%;
    font-size: 25px;
}
.p_tchat {
    position: absolute;
    margin: auto;
    top: 30%;
    left: 72%;
    font-size: 14px;
}